*{
    margin: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

body{
    width: 920px;
    height: auto;
    margin: auto;
}
main {
    font-weight: bold;
}

#logo{
    width: 188px;
    height: 69px;
    float: left;
}

#menu{
    width: auto;
    height: auto;
    margin-top: 25px;
    float: right;
}

#menu a{
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 5px 25px;
    font-family: tahoma;
    font-size: 14px;
}

#menu a:hover{
    background-color: #333;
    color:#FFF;
}

h2{
    text-transform: uppercase;
    letter-spacing: 5px; /* espaçamento entre letras*/
    word-spacing: 10px; /* espaçamento entre palavras*/
    background-color: #333;
    color: #FFF;
    padding: 10px;
    margin-bottom: 7px;
}

.marcaTexto{
    background-color:  #FF0;
    font-style: italic;
    font-weight: bold;
}

.imgLeft{
    float: left;
    margin-right: 10px;
}

.imgRight {
    float: right;
    margin-left: 10px;
}

img{
    filter: grayscale(100%);
}


p{
    line-height: 20px;
}

footer{
    width: 920px;
    height: 40px;
    background-color: #999;
    margin-top: 10px;
}
input{
    width: 450px;
    height: 40px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 10px;
}

textarea {
    width: 457px;
    height: 100px;
    border: 1px solid gray;
    background-color: white;
    /* color: rgb(211, 149, 149); */
    border-radius: 3px;
    margin-top: 7px;
}

input[type=submit] {
    width: 90px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 17px;
    margin-left: 372px;
    letter-spacing: 2px;
}
.limite {
    color: #999;
    font-weight: normal;
    font-size: 14px;
}
.red {
    color: red;
    font-weight: normal;
    font-size: 14px;
}